body {
  background-color: #444;
  background-image: url(b839bd4f79c8c43d9ab1a5d2f7dd6649.png);
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh; }

.botao {
  background-color: #19B3E6;
  color: #FFF;
  font-size: 1.8em; }

